% vim:ts=4 sw=4 et ft=erlang

{deps, [
    {erls3,           {git, "git://github.com/choptastic/erls3",            {branch, master}}},
    {erlpass,         {git, "git://github.com/choptastic/erlpass",          {branch, master}}},
    {qdate,           {git, "git://github.com/choptastic/qdate",            {branch, master}}},
    {sigma_form,      {git, "git://github.com/choptastic/sigma_form",       {branch, master}}},
    {sigma_search,    {git, "git://github.com/choptastic/sigma_search",     {branch, master}}},
    {sigma_erlang,    {git, "git://github.com/choptastic/sigma_erlang",     {branch, master}}},
    {sigma_proplist,  {git, "git://github.com/choptastic/sigma_proplist",   {branch, master}}},
    {sigma_yesno,     {git, "git://github.com/choptastic/sigma_yesno",      {branch, master}}},
    {sigma_multi,     {git, "git://github.com/choptastic/sigma_multi",      {branch, master}}},
    {nitrogen_tinymce,{git, "git://github.com/choptastic/nitrogen_tinymce", {branch, master}}},
    {paginate,        {git, "git://github.com/choptastic/paginate",         {branch, master}}},
    {sql_bridge,      {git, "git://github.com/choptastic/sql_bridge",       {branch, master}}},
    {erl_gm,          {git, "git://github.com/choptastic/erl_gm",           {branch, master}}},
    {always_checkbox, {git, "git://github.com/choptastic/always_checkbox",  {branch, master}}},
    {bbcode,          {git, "git://github.com/choptastic/bbcode",           {branch, master}}},
    {coldstrap,      {git, "git://github.com/choptastic/coldstrap", {branch, master}}},
    {quicktable,    {git, "git://github.com/choptastic/quicktable", {branch, master}}}
]}.
